@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  margin: 15px;
}

img, video {
  width: 100%
}

h5 {
  font-weight: normal;
  margin-top: 0;
  text-align: center;
  font-style: italic;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 5px;
  text-align: center;
}

a {
  color: black;
}

code {
  font-size: 1em;
  font-family: "Monaco", monospace;
  background-color: #ddd;
  padding: 3px;
  border-radius: 2px;
}
mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}

mjx-container > * {
  overflow-x: auto;
  overflow-y: hidden;
}

.center {
  text-align: center;
}
.emphasis {
  font-style: italic;
}

.image {
  margin-bottom: 0
}

.subtitle {
 text-align: center;
 font-size: small;
 font-style: italic;
 margin-bottom: 50px;
}

.note {
  border-left: 5px solid #ccc;
  padding: 10px;
  margin: 20px;
  color: #666;
}

.citation-item {
  margin-left: 2em; 
  text-indent: -2em;
  overflow-wrap: break-word;
}

#container {
  max-width: 800px;
  margin: auto
}

#copyright {
  text-align: center;
}